<div class="row">
    <div class="col s6 offset-s3">
        <h4 class="center <%=cor%>-text text-darken-5">Vota ou não vota</h4>
        <h5 class="center <%=cor%>-text text-lighten-4">
            <%=nome%>
        </h5>
        <h5 class="center <%=cor%>-text text-lighten-4">
            <%=vota%>
        </h5>
        <div class="row">
            <div class="col s12 center">
                <img class="responsive-img circle" src="<%=img%>">
            </div>
        </div>
    </div>
</div>